<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Reserva</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="~{plantilla/fragmentos.html :: navigation}"></div>

        <h3>Eliminar Reserva</h3>

        <div class="container">
            <div class="border rounded-3 m-2 p-4 border-2">
                <form th:action="@{/mis-datos/mis-reservas/del/{id}(id=${reserva.id})}" method="post">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" id="id" name="id" class="form-control" th:value="${reserva.id}" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="instalacion" class="form-label">Instalación</label>
                        <input type="text" id="instalacion" name="instalacion" class="form-control" th:value="${reserva.horario.instalacion.nombre}" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" id="fecha" name="fecha" class="form-control" th:value="${reserva.fecha}" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="horaInicio" class="form-label">Hora de Inicio</label>
                        <input type="time" id="horaInicio" name="horaInicio" class="form-control" th:value="${reserva.horario.horaInicio}" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="horaFin" class="form-label">Hora de Fin</label>
                        <input type="time" id="horaFin" name="horaFin" class="form-control" th:value="${reserva.horario.horaFin}" disabled>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a th:href="|/mis-datos/mis-reservas|" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

        <div th:replace="~{plantilla/fragmentos.html :: footer}"></div>
    </div>
</body>
</html>
