<!DOCTYPE html>
<html lang="en">

<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reserva</title>
</head>

<body>
    <div class="container-fluid">
        <div th:replace="~{plantilla/fragmentos.html :: navigation}"></div>

        <div class="container-fluid">
            <h3 th:text="${operacion == 'EDIT' ? 'Editar reserva' : 'Añadir reserva'}"></h3>

            <form method="post" th:object="${reserva}" class="needs-validation" novalidate>
                <input type="hidden" th:field="*{id}" />
                
  
                <!-- Campo de Instalación (Solo lectura) -->
                <div class="mb-3">
                    <label for="instalacion" class="form-label">Instalación</label>
                    <input type="text" id="instalacion" class="form-control" th:value="*{horario.instalacion.nombre}" readonly />
                </div>

                <!-- Campo de Fecha (Calendario) -->
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" th:value="*{fecha}" required />
                </div>

                <!-- Selección de Horario (Desplegable) -->
                <div class="mb-3">
                    <label for="horario" class="form-label">Horario</label>
                    <select id="horario" name="hora" class="form-select" th:value="*{horario}" required>
                        <option th:each="hora : ${horario}" 
                            th:text="${hora.horaInicio + ' - ' + hora.horaFin}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>

        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>

</html>
